<?xml version="1.0" encoding="UTF-8"?>
<included>

  <logger name="org.ownchan.server" level="DEBUG"/>
  <logger name="org.ownchan.server.persistence.mapper" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
    <appender-ref ref="FILE-ERROR" />
  </root>

</included>
